.navbar {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.navbar-toggler-icon i {
    font-size: 1.25rem;
}

.nav-link {
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #FFD700;
}

.navbar-brand:hover {
    color: #FFD700;
}

.active {
    color: #FFD700 !important;
    font-weight: 600;
}