/* Couleurs et styles Tailwind sont principalement utilisés */
:host {
    display: block;
  }
  
  .categorie-container {
    background-color: #2d3748; /* gris foncé Tailwind */
    color: #ffffff; /* blanc */
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .categorie-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fbbf24; /* jaune Tailwind */
  }
  
  .categorie-text {
    margin-bottom: 0.75rem;
    font-size: 1rem;
  }
  
  .categorie-status-racine {
    color: #34d399; /* vert Tailwind */
    font-weight: bold;
  }
  
  .categorie-status-non-racine {
    color: #f87171; /* rouge Tailwind */
    font-weight: bold;
  }
  
  .categorie-back-button {
    background-color: #fbbf24; /* jaune Tailwind */
    color: #2d3748; /* gris foncé */
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }
  
  .categorie-back-button:hover {
    background-color: #f59e0b; /* orange Tailwind */
  }
  